.tripContainer {
  width: 60%;
  margin: auto;
  display: block;
}

.slideSizeTrip {
  width: 35%;
}

.slideRepeatTrip {
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.infoTrip {
  margin-right: 3%;
}

.btns {
  text-align: center;
}
